*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar{

        width: 10px;
                height: 10px;
    }

    &::-webkit-scrollbar-track{

        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb{

        border-radius: 10px;
        background-color: gold
    }
}

.main-carousel{

    width: 100%;
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#FE8F50, #FFC065);

    .carousel-span{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding-bottom: 10px;
        padding-right: 5px;
        top: 45%;
        font-weight: bold;
        height: 40px;
        width: 40px;
        font-size: 50px;
        color: purple;
        cursor: pointer;
        /* left: .5%; */
        border: 1px solid green;
        border-radius: 50%;
        left: 0;
        z-index: 1;
        background: white;
        }

        .right-arrow{

            left: 97%;
            text-align: right;

        }

        .section-carousel{

            width: 60%;
            height: 150px;
            background: #f4f4f4;
            margin: 10px auto;
            display: flex;
            justify-content: left;
            align-items: center;
            overflow-x: scroll;
            background: radial-gradient(#FE8F50, #FFC065);
            border-radius: 5px;


            .categories{

                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                width: 300px;
                height: 100px;
                position: relative;
                left: 0;
                text-align: center;
                margin: 10px 20px;
                color: white;
                transition: 0.5s;
                border-radius: 5px;

                img{

                    width: 150px;
                    height: 100px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 5px;
                }

                .carousel-layover{

                    position:absolute;
                    height: 100%;
                    width: 100%;
                    border-radius: 5px;
                    background-color: rgba($color: #000000, $alpha: 0.4);


                }

                .carousel-string{

                    position: absolute;
                    right: 20px;
                    bottom: 10px;
                    color: white;
                    font-size: 15px;
                    z-index: 5;
                }
            }
        }
}

.active{
    opacity: .3;
}
