*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-carousel{

    width: 100%;
    height: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .carousel-span{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding-bottom: 10px;
        padding-right: 5px;
        top: 45%;
        font-weight: bold;
        height: 40px;
        width: 40px;
        font-size: 50px;
        color: purple;
        cursor: pointer;
        /* left: .5%; */
        border: 1px solid green;
        border-radius: 50%;
        left: 0;
        z-index: 1;
        background: white;
    }

        .right-arrow{

            left: 97%;
            text-align: right;

        }



        .section-carousel{

            width: 98%;
            height: 150px;
            background: #f4f4f4;
            margin: 10px auto;
            display: flex;
            justify-content: left;
            align-items: center;
            overflow-x: auto;

            .categories{

                display: flex;
                justify-content: center;
                align-items: center;

                width: 300px;
                height: 100px;
                position: relative;
                left: 0;
                text-align: center;

                margin: 10px 20px;
                border: 1px solid red;
                color: white;


                transition: 0.5s;
                border-radius: 5px;

                img{

                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center
                }
        }

}


}