/* stile footer */
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-bg{
    background-color: #1F8691;
    min-height: 300px;
    width: 100%;

    .footer-card-container{

        width: 60%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 25px 0;

        @media (max-width: 998px) AND (min-width: 768px){

            .footer-card-container{
                flex-wrap: nowrap;
                
            }
        }

       .footer-card{

            background-color: white;
            padding: 15px;
            width: calc(100%/4.2);
            height: 430px;
            color: #1F8691;
            border-radius: 5px;

             @media (max-width: 998px) AND (min-width: 768px){

                width: 90%;
                margin: auto;
                display: block;
                margin-bottom: 10px;
                height: 100%;
            }

            li{

                list-style: none;
                padding: 5px 0;

                a{

                    text-decoration: none;
                    color: black;
                        &:hover,
                        &:focus,
                        &:active {
                        color: #FABD12;
                        }
                }

            }

            .footer-bolder{

                font-weight: bolder;
                font-size: 1.3rem;
                margin-bottom: 10px;
            }

            img{
                width: 60%;
                border: 1px solid white;
                border-radius: 5px;
                }
        }

    }

    .icons-footer{


        width: 60%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;

            .facebook{

            color: white;
            padding: 0 5px;
            font-size: 22px;

                &:hover,
                &:focus,
                &:active {
                    color: #493cfd;
                }

            }

            .twitter{

            color: white;
            padding: 0 5px;
            font-size: 22px;

                &:hover,
                &:focus,
                &:active {
                    color: #48d0e2;
                }
            }

            .instagram{

            color: white;
            padding: 0 5px;
            font-size: 22px;

                &:hover,
                &:focus,
                &:active {

                    background: -webkit-linear-gradient(rgb(228, 27, 201), rgb(243, 175, 29));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

            }
            .copyright-footer{

            color: rgb(255, 255, 255);
            }
    }


}




