/* stile footer */
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-bg{

    background-color: #2E3333;
    min-height: 300px;
    width: 100%;

    .footer-card-container{

    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    }

    .footer-card{

    background-color: #434848;
    padding: 15px;
    width: calc(100%/4.2);
    height: 95%;
    color: white;
    border-radius: 5px;

    li{

        list-style: none;
        padding: 5px 0;

        .footer-bolder{

            font-weight: bolder;
            font-size: 1.3rem;
            margin-bottom: 10px;
        }

        a{

            text-decoration: none;
            color: white;
        }
    }
    }
    .second-card-footer{

        height: 353px;
    }

    .icons-footer{

    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;

        i{

            color: white;
            padding: 0 5px;
            font-size: 22px;
        }
    }

    .copyright-footer{

    color: gray;
}


}
