#jumbotron{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .container{
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .searchbar-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            color: #007E8A;

            label{
                font-size: 32px;
                font-weight: 600;
                text-transform: uppercase;
            }

            input{
                width: 250px;
                height: 40px;
                border: none;
                border-radius: 5px;
            }
        }
    }

    .search-dropdown{
        position: absolute;
        top: 330px;
        left: 347px;
        transform: translate(-50%, 0);
        width: 250px;
        background-color: #fff;

        ul{
            list-style: none;

            li{
                margin: 10px 10px;
                cursor: pointer;
            }

            .not-found{
                color: red;
            }
        }
    }
}
