#dashboard{
    display: flex;
    height: 100vh;
}

#dashboard-nav{

    width: 15%;
    height: 100%;
    padding: 0 30px;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;

    & > div{
        margin-top: 20px;
    }

    & > div:not(.restaurants){
        flex: 0 0 auto;
    }

    .restaurants{
        flex: 1 1 auto;
        min-height: 100px;
        overflow-y: auto;

        .restaurants-list{
            
        }
    }
}

#dashboard-main{

    padding: 30px 50px;
    width: 85%;
    overflow-y: auto;

    .restaurant-actions{
        display: flex;
        
        form {
            margin: 10px 30px;
        }
    }
    
    .dishes-list{
        
        margin-top: 40px;


    
        ul{
            list-style: none;
            margin-top: 30px;
            
            li{

                .flex-container{
                    
                    display: flex;
                    align-items: center;
                    height: 60px;

                    .dish-name{

                        h4{
                            text-transform: uppercase;
                        }
                    }
                    .dish-actions{
                        display: flex;
                
                        form {
                            margin: 10px 20px;
                        }
                    }
                }
            }
        }
    }
}

.not-visible{
    opacity: .5;
}


