@import '../components/home-header';

@import'../components/carousel';

@import '../components/footer';

@import '../components/jumbotron';

*{
    scroll-behavior: smooth;
}

.spacer-precarousel{

    width: 100%;
    height: 100px;
    margin: auto;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FABD12;


    .spacer-disclaimer{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1180px;

         @media screen and (max-width: 375px){

            width: 90%;
            text-align: center;

        }
    }

}

.restaurants-container{
    width: 100%;
    padding: 50px 0px;
    background-color: #FABD12;


    .restaurant-card{
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        width: 650px;
        position: relative;
        background-color: white;
        margin: 30px auto;

            @media screen and (max-width: 375px){

                width: 100%;
                margin: 30px auto;
                height: 100%;
            }

        a{
            text-decoration: none;

        }

        .image-cover{

            width: 100%;
            height: 200px;

            img{

                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 5px 5px 0 0;
            }
        }

        .name{
            display: flex;
            height: 80px;
            align-items: center;
            justify-content: center;
            color: #1F8691;
            text-transform: capitalize;

             @media screen and (max-width: 375px){

                h3{
                    padding: 0 20px;
                }

            }
        }

        .categories-type-list{

            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: #1F8691;
        }
    }
}

.no-restaurants{

    background-color: #FABD12;
    color: white;
    font-size: 30px;
    font-weight: 600;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}
