@import '../components/home-header';

@import'../components/carousel';

@import '../components/footer';

@import '../components/jumbotron';

*{
    scroll-behavior: smooth;
}

.spacer-precarousel{

    width: 100%;
    height: 100px;
    margin: auto;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FABD12;

/*     .cool-image{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        img{



        }
    } */

    .spacer-disclaimer{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

}

.restaurants-container{
    width: 100%;
    padding: 50px 0px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #FABD12;


    .restaurant-card{
        width: 400px;
        flex-shrink: 0;
        margin: 20px auto;
        background-color: white;
        border-radius: 5px;

        a{
            text-decoration: none;

        }

       /*  &>div{
            margin-bottom: 10px;
        } */

        .image-cover{

            margin-bottom: 10px;

            img{

                width: 100%;
                height: 100%;
                opacity: 1;
                border-radius: 5px 5px 0 0;
            }
        }

        .name{
            display: flex;
            height: 80px;
            align-items: center;
            justify-content: center;
            color: #1F8691;
        }

        .categories-type-list{

            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: #1F8691;
        }
    }
}

.no-restaurants{

    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}
