@import '../components/home-header.scss';

@import '../components/sidebar.scss';

@import '../components/main-content.scss';

@import '../components/footer.scss';

.spacer-type{

    background-color: #1F8691;
    height: 100px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    border-radius: 5px;

}

.element-container{

    background-color: #FABD12;
    padding: 20px 0;


    .restaurant-menu-cointainer{

        min-height: 500px;
        width: 80%;
        margin: auto;
        background-color: #1F8691;
        display: flex;
        justify-content: space-between;
        position: relative;
        border-radius: 5px;

        .menu-type{

            list-style: none;
            width: 100%;
            background-color: #1F8691;
            margin: 20px;

            .type-span{

                font-size: 25px;
                font-weight: 600;
                color: white;
                text-transform: uppercase;
            }


            .dishes-list{

                width: 50%;
                padding: 30px;
                display: flex;
                flex-wrap: wrap;
                margin-top: 20px;
                margin-left: 10px;

                .dish-card{

                    height: 150px;
                    transition: box-shadow 0.2s ease-in-out;
                    margin-right: 20px;
                    cursor: pointer;
                    background-color: white;
                    border-radius: 5px;
                    &:hover{

                        box-shadow: 5px 10px 18px #14555c;
                    }

                    .dish-card-container{

                        height: 100%;
                        padding: 10px;
                        display: flex;

                        .dish-name-price{

                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            width: 70%;

                            .dish-name, .dish-price, .dish-ingr{

                                display: flex;
                                align-items: center;

                            }
                            .dish-name, .dish-price{

                                min-height: 25%;
                            }
                            .dish-ingr{

                                min-height: 50%

                            }

                        }

                        .dish-img{

                            width: 30%;
                            height: 80px;
                            margin: auto;

                            img{

                                width: 100%;
                                height: 100%;
                                object-position: center;
                            }
                        }
                    }
                }
            }
        }

        

        .container-cart{

            margin-top: 55px;
            margin-right: 40px;
            margin-bottom: 30px;
            height: 50%;
            width: 100%;
            background: white;
            box-shadow: 5px 10px 18px #14555c;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px 0;
            border-radius: 5px;

            .container-cart-title{
                width: 100%;
                border-bottom: 1px solid #1F8691;
                text-align: center;
                font-size: 25px;
                font-weight: 600;
            }

            .cart{

                width: 80%;
                margin: auto;

                .cart-list{

                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .dish-details{

                        width: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        flex-direction: column;
                        margin: 10px;

                        .cart-dish-img{

                            width: 100%;
                            height: 100px;
                            margin: auto;
                            display: flex;
                            align-items: center;

                            img{

                                width: 100%;
                                height: 100%;
                                object-position: center;
                            }
                        }

                        .cart-dish-name{
                            display: flex;
                            justify-content: flex-end;
                        }
                    }

                    .cart-quantity{

                        margin: 0 10px;
                        border-radius: 5px;
                        padding: 5px;
                        color: black;

                        .button-cart{
                            
                            cursor: pointer;
                            background-color: #1F8691;
                            color: white;
                            padding: 0 20px;
                            border-radius: 5px;
                            box-shadow: 2px 5px 5px #14555c;
                            font-size: 25px;
                            font-weight: 600;
                            width: 100%;
                            border: 2px solid white;

                            &:hover{

                                background-color: #FABD12;
                            }
                        }

                        .dish-quantity{
                            font-size: 20px;
                            padding: 0 10px;
                        }
                    }
                }
            }

            .cart-totprice{

                width: 80%;
                display: flex;
                margin: 20px 0;
                justify-content: flex-end;
                font-size: 30px;
                font-weight: 600;

                .totprice{

                    margin-left: 20px;
                }
            }

            .checkout-button-cart{
                width: 80%;
                text-align: center;
                background-color: #1F8691;
                font-weight: 600;
                border-radius: 5px;
                cursor: pointer;
                color: white;
                &:hover{

                    background-color: #FABD12;
                    box-shadow: 2px 5px 5px #14555c;
                }

                .checkout-link{
                    font-size: 25px;
                }
            }


        }
    }
}

.cart-checkout-container{

    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(99 168 195);
    box-shadow: 5px 10px 18px #14555c;
    display: flex;
    justify-content: center;
    align-items: center;

    .cart-checkout{

        width: 70%;
        margin: auto;
        background-color: white;
        border-radius: 10px;

        .nav-conferma{

            width: 100%;
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px 10px 0 0;

             .nav-text{

                width: 20%;
                margin: 0px 15px;
                display: flex;
                align-items: center;
                margin-top: 8px;

            }

            .quadrato{

                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .x{

                    color: white;
                    padding: 0 20px;
                    cursor: pointer;
                    font-size: 20px;
                    font-weight: 600;
                    margin-right: 10px;
                    transition: all 1s ease 0s;

                    &:hover{

                        background-color: red;
                    }
                }
            }
        }

        .nav-text-subtitle{

            width: 70%;
            margin: 30px auto;
            font-size: 25px;
            text-align: center;
        }

        .cart{

            width: 100%;

            .cart-list{

                width: 95%;
                margin: auto;
                display: flex;
                border-radius: 5px;
                align-items: center;
                justify-content: space-between;

                .cart-list-img{

                    height: 100px;
                    display: flex;
                    margin-left: 10px;
                    align-items: center;

                    img{

                        width: 80px;
                        height: 80px;

                    }
                }

                .cart-quantity{

                    width: 200px;
                    height: 90%;
                    text-align: center;

                    .button-cart{

                        cursor: pointer;
                        background-color: rgb(2, 150, 241);
                        color: white;
                        padding: 0 20px;
                        border-radius: 5px;
                        box-shadow: 2px 5px 5px #14555c;
                        font-size: 25px;
                        font-weight: 600;
                    }

                    .dish-quantity{

                        margin: 0 10px;
                    }
                }
            }
        }

        .checkout-cart-totprice{

            width: 95%;
            margin: auto;
            display: flex;
            margin: 20px 0;
            justify-content: flex-end;
            font-size: 25px;
            font-weight: 600;

            .checkout-totprice{

                margin-left: 20px;
            }
        }

        .payment-link{

            width: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
            margin: 30px 0px;

            .button-payment{

                margin: auto;
                border-radius: 5px;
                color: white;
                font-weight: bold;
                cursor: pointer;
                background-color: rgb(2, 150, 241);
                padding: 15px 10px;
                box-shadow: 2px 5px 5px #14555c;
                text-align: center;
                text-decoration: none;

                &:hover{

                    color: #FABD12;
                }
            }
        }
    }
}

.my-show-user{
    width: 100%;
    display: flex;

    .sidebar-part{

        width: 15%;
        position: fixed;
        top: 0;
    }

    .main-content-part{
        width: 85%;
        margin-left: 15%;
    }
}

.success-container{
    min-height: 800px;
    width: 60%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1F8691;
    border-radius: 5px;


    .success-disclaimer{
        font-size: 40px;
        background-color: white;
        width: 90%;
        height: 200px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        color: #1F8691;

    }

    .order-recap{

        width: 90%;
        margin: 20px auto;
        min-height: 400px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



    }

    .success-action{

        height: 100px;
        width: 90%;
        background-color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
        .success-home-button, .success-ctb-button{

            color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 5px 5px 5px #888888;
            font-weight: bold;
            text-decoration: none;
        }

        .success-home-button{

            background-color: #1F8691;
        }

        .success-ctb-button{

            background-color: #FABD12;
        }



    }

}

.failed-container{
    min-height: 800px;
    width: 60%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    border-radius: 5px;


    .failed-disclaimer{
        font-size: 40px;
        background-color: white;
        width: 90%;
        height: 200px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        color: red;

    }

    .order-recap{

        width: 90%;
        margin: 20px auto;
        min-height: 400px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



    }

    .failed-action{

        height: 100px;
        width: 90%;
        background-color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;

        .failed-home-button, .failed-ctb-button{

            color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 5px 5px 5px #888888;
            font-weight: bold;
            text-decoration: none;
        }

        .failed-home-button{

            background-color: #007E8E;
        }

        .failed-ctb-button{

            background-color: #FABD12;
        }



    }

}






