@import '../components/home-header.scss';

@import '../components/sidebar.scss';

@import '../components/main-content.scss';

@import '../components/footer.scss';

.my-show-user{
    width: 100%;
    display: flex;
    border: 1px solid red;

    .sidebar-part{

        width: 15%;
        position: fixed;
        top: 0;
    }

    .main-content-part{
        width: 85%;
        margin-left: 15%;
    }
}

.success-container{
    min-height: 800px;
    width: 60%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #51D8C1;
    border-radius: 5px;


    .success-disclaimer{
        font-size: 40px;
        background-color: white;
        width: 90%;
        height: 200px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        color: #007E8E;

    }

    .order-recap{

        width: 90%;
        margin: 20px auto;
        min-height: 400px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



    }

    .success-action{

        height: 100px;
        width: 90%;
        background-color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
        .success-home-button, .success-ctb-button{

            color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 5px 5px 5px #888888;
            font-weight: bold;
            text-decoration: none;
        }

        .success-home-button{

            background-color: #007E8E;
        }

        .success-ctb-button{

            background-color: #FABD12;
        }



    }

}








