.payment-container{

    background-color: #FABD12;
    width: 1180px;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

     @media screen and (max-width: 375px){

        width: 100%;
    }

    .payment-header{

        margin: 10px 20px;

        .top-right{

            text-align: center;
            background-color: white;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            font-weight: bold;
            padding: 10px 0;
            border-radius: 5px;

            .cancel-pay-btn{

                text-decoration: none;
                border: 2px solid #FABD12;
                padding: 5px 10px;
                border-radius: 5px;
                color: #1F8691;
                margin-right: 10px;
                font-weight: bold;
                &:hover{

                    border: 2px solid #1F8691;
                    color: #FABD12;
                }
            }

        }
    }

    .content{

        background-color: white;
        padding: 20px;
        margin: 20px;
        border-radius: 5px;

        .payment-recap{

            display: flex;
            flex-direction: column;

            input{

/*                 &:valid{

                    border: 2px solid green;
                } */

                &:invalid{

                    border: 2px solid red;
                }
            }

            .payment-title{

                height: 50px;
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }


            .order-recap{

                width: 100%;
                height: 100%;
                display: flex;
                font-weight: bold;
                justify-content: center;

                .input-label{

                    margin-right: 5px;
                }

            }

            .payment-info-rider{

                display: flex;
                flex-direction: column;
                padding: 20px 0;
                font-weight: bold;
                align-items: center;

                .span-note{

                    position: relative;
                    bottom: 30px;
                }

                textarea{

                    border-radius: 5px;
                    border: 1px solid #7D7D7D;
                }

            }

        }

        .payment-credit-card{

            background-color: #FABD12;
            min-height: 190px;
            /* padding: 20px; */
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;

            @media screen and (max-width: 375px){

                width: 100%;
                height: 100%;
                background-color: white;
            }
        }

        .hide-button{

            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;

            .paybutton{

                font-weight: bold;
                position: relative;
                top: 10px;
                transition: all 0.5 ease;
                background-color: #1F8691;

                &:hover{

                    transform: scale(1.2);
                    color: #FABD12;
                }
            }
        }
    }

}
